<div class="user-profile">
<h3> Welcome Back, <%= @user.username %></h3>
</div>


<ul class="profile-links">
<%= button_to "Log Out", '/sessions', method: :delete %>
<%= button_to "New Order", new_party_path, method: :get %>

</ul>
