<!DOCTYPE html>
<html>
<head>
  <title>Rock Da Pasta</title>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
      <div class="title-splash">
        <p>Rock Da Pasta</p>
      </div>
  </div>

  <div class="body-box">

<%= yield %>

</div>

</body>
</html>
